*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #494E48;
  box-sizing: border-box;
}
::-webkit-scrollbar-thumb{
  background-color: green;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ham-top,
.ham-mid,
.ham-bot{
  width: 100%;
  position: absolute;
  background: #494E48;
  height: 2px;
  top: 4px;
  transition: .5s ease;
}
.ham-mid{
  top: 10px;
}
.ham-bot{
  top: 16px
}

.ham-top.clicked{
 transform: translateY(4px) rotate(45deg);
}
.ham-mid.clicked{
 display: none;
}
.ham-bot.clicked{
 transform: translateY(-8px) rotate(-45deg);
}
.icon{
 left: 15px;
 font-size: 20px;
 position: absolute;
 animation: wave 1s infinite ease
}

.app{
  overflow-x: hidden;
}
@keyframes wave {
  15%{
    transform: rotate(20deg) translateX(5px);
  }
  40%{
    transform: rotate(-20deg) translateX(-5px);
  }
  47%{
    transform: rotate(0deg);
  }
}

